body {
    font-family: Garamond, Helvetica, sans-serif;
    background-color: rgb(207, 255, 239);
}

h1 {
    color:black;
    background-color: rgb(131, 245, 207);
    padding: 30px auto;
    margin: 20px auto;
    text-align: left;
    width: fit-content;
}

h2 {
    color:black;
    background-color: rgb(185, 254, 231);
    padding: 20px auto;
    margin: 5px auto;
    width: fit-content;
}

.titulo_2 {
    color:black;
    background-color: rgb(185, 254, 231);
    padding: 20px auto;
    margin: auto;
    width: fit-content;
}

p {
    margin: 10px;
}

.u_list {
    color:rgb(65, 58, 58);
    padding: 10px auto;
    margin: 0 auto;
}

.o_list {
    color:rgb(65, 58, 58);
    padding: 10px auto;
}

button {
    color: white;
    background-color: rgb(64, 110, 81);
    padding: 8px 24px;
    margin: 0 auto;
}

img {
    display:block;
    margin: auto;
}